/* Establecer el fondo negro como en Death Note */
body {
    background-color:#111111 /*#000*/; /* Establece el color de fondo en negro (#000) */
    color: #fff; /* Establece el color del texto en blanco (#fff) */
    font-family: Arial, sans-serif; /* Define la fuente del texto como Arial o fuentes sans-serif */
    background-image: url(imagenes/IMAGEN_FONDOO3.png); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
     box-sizing: border-box;
        
    
}
.logo{
    width: 250px; /* Tamaño del logo para la versión de escritorio */

	display: inline-block;
}


/* Estilo para el encabezado (header) */
header {
    display: flex; /* Utilizar Flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Alinear los elementos del header a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

/* Estilo para el logotipo (imagen del logo) */
.logo {
    margin: 0; /* Eliminar márgenes predeterminados */
}

/*------------------------------------------------*/
.menu-nav {
    text-align: right;
}

.menu-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-nav ul li {
    display: inline-block; /* Muestra los elementos en bloque */
    position: relative; /* Agrega posición relativa para contener la sublista */
    padding: 15px 20px; /* Ajusta el espacio entre los elementos */
}

.menu-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.menu-nav ul li a:hover {
    color: red;
}

.menu-nav ul li:hover .sublista {
    display: block;
}

.sublista {
    width: 120px; /* Ajusta el ancho de la sublista según tus preferencias */
    display: none;
    position: absolute;
    background-color: #000;
    padding: 10px;
    top: 100%; /* Ajusta la posición vertical de la sublista */
    left: 50%; /* Centra la sublista horizontalmente */
    transform: translateX(-50%); /* Centra la sublista horizontalmente */
}

.sublista li {
    text-align: center; /* Alinea el texto de la sublista horizontalmente */
    margin: 5px 0;
}

.sublista a {
    color: #fff; /* Cambia el color del texto de la sublista a blanco */
    text-decoration: none;
}

.sublista a:hover {
    color: red;
}
/*------------------------------------------------*/

/* Estilo para el título principal (h1) */
h1 {
    text-align: center; /* Elimina el espacio de margen predeterminado del título principal */
}

/* Estilo para el contenedor de imagen de fondo */
.imagen-fondo {
    background-image: url('tu-imagen-de-fondo.jpg'); /* Establece la imagen de fondo utilizando la ruta proporcionada (reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen) */
    background-size: cover; /* Hace que la imagen de fondo cubra completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo horizontalmente en el contenedor */
      text-align: center; /* Centra el contenido horizontalmente */
    width: 80%; /* Hace que el contenedor ocupe todo el ancho disponible */
    height: 1%; /* Hace que el contenedor ocupe todo el alto disponible */
    display: block; /* Convierte la imagen en un elemento en bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente usando márgenes automáticos */
}
.spoiler{
	text-align: left;
}

/* Estilo para la sección de información */
#informacion {
    padding: 20px; /* Agrega espacio interno de 20 píxeles alrededor de la sección de información */
    text-align: center; /* Centra el texto dentro de la sección de información */
}

/* Estilo para el artículo secundario */
.article-secundario {
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    justify-content: space-between;
}

/* Estilo para el resumen de la historia */
.resumen-historia {
       background-color: #A60606;
    display: flex;
    height: auto;
}
.resumen-historia p {
    text-align: left;
    margin: 10px;
}
/* Estilo para las imágenes */
.imagenes {
    background-color: #transparent;
    flex: 1; /* Ocupa el espacio restante en el contenedor */
    display: flex; /* Utiliza flexbox para alinear las imágenes verticalmente */
    flex-direction: column; /* Alinea las imágenes una debajo de la otra */
    align-items: center; /* Centra las imágenes horizontalmente */
}

.imagenes img {
    margin-right: 30px;
   
}

/* Estilo para las tarjetas de personajes */
.tarjetas-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta {
	color: white;
    width: calc(25% - 20px);
    margin: 10px;
    background-color:#A60606 /*#f0f0f0*/;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

.tarjeta img {
    max-width: 100%;
    height: auto;
}

.tarjeta h2 {
    font-size: 1.5em;
}

.tarjeta h3 {
    font-style: italic;
    color: #888;
}

.tarjeta p {
    font-size: 0.9em;
}

body h1{
	text-decoration: underline;
}

.curiosidad {
	background-color: #A60606;
    display: flex;
    margin: 20px;
}

.curiosidad img {
    width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 20px;
}

.curiosidad p {
    flex: 1;
}


.teoria-card img {
 display: block; /* Centra la imagen horizontalmente */
    width: 300px; /* Ajusta el ancho a tu preferencia */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    text-align: center; /* Centra el contenido dentro de las cajas */
}



.teoria-card h2 {
    margin: 0; /* Elimina el margen predeterminado que puede causar que el título no esté centrado verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Ajusta el color del texto a blanco para que destaque en el fondo rojo */
}

.intro-teorias img {
    display: block;
    margin: 0 auto;
}





.teoria-card {
    background-color: #A60606;
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    border-radius: 10px;
}


.teoria-content {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    padding: 10px; /* Agrega espacio interno para separar la imagen del texto */
}

.teoria-text {
    flex: 1;
    padding: 10px;
}

.teoria-card h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.teoria-card img {
    display: block;
    max-width: 100%;
    margin-right: 10px; /* Agrega un margen a la derecha de la imagen para separarla del texto */
     border: 2px solid white; /* Agrega un borde blanco de 2 píxeles alrededor de la imagen */
}

.teoria-card p {
    margin: 0; /* Elimina el margen predeterminado del párrafo para una apariencia más limpia */
}


.momento-card {
	background-color: #A60606;
    text-align: center; /* Centra el contenido en las tarjetas */
    margin: 20px auto; /* Centra las tarjetas horizontalmente y agrega espacio vertical */
    width: 80%; /* Ajusta el ancho de las tarjetas según tu preferencia */
    border-radius: 10px;
}

.momento-card img {
    display: block; /* Centra la imagen horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 60%; /* Ajusta el ancho de las imágenes según tu preferencia */
    border: 2px solid white; /* Agrega un borde blanco de 2 píxeles alrededor de la imagen */
}

.contact-body {
  
  text-align: center;
}
.contact-form input{
    margin-right: 100px;
}



.contact-form {
  background-color: #A60606;
  display: inline-block;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: 0 auto; /* Centrar el formulario horizontalmente en la versión de escritorio */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1px;
}

input[type="submit"] {
  background-color: #00 /*#AB1111; /* Fondo rojo para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/*PERSONAJES*/
.personajes-img{
	width: 800px;
	height: auto;
    border: 2px solid white;

}
.personajess{
    background-color: #A60606;
	display: flex;
    height: auto;
}

.personajess p{
	margin-left:20px ;
	font-size: 20px;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 575px) {
      .checkbtn {
        display: block;
    }
    header i{
        font-size: 20px;
    }
    .logo {
        width: 200px; /* Tamaño del logo para dispositivos móviles (ajusta el tamaño según tus necesidades) */
    }
     .check-input {
        display: none; /* Oculta el checkbox en dispositivos móviles */
    }

    .checkbtn {
        font-size: 24px;
        cursor: pointer;
    }

        ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #333;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        padding-top: 20px; /* Añade espacio superior para separar el menú de la parte superior */
    }
    ul.active {
        left: 0;
    }

    .menu-nav ul li {
    display: block; /* Muestra los elementos en bloque */
    position: relative; /* Agrega posición relativa para contener la sublista */
    padding: 15px 20px; /* Ajusta el espacio entre los elementos */
}
    ul li a {
        font-size: 20px;
        margin-left: 7%;
        color: white;
    }
    ul li a:hover,
    ul li a.active {
        background: none;
    }
    ul li:hover .sublista {
        display: block;
        top: 0; /* Ajusta la posición de la sublista para que no se superponga con los elementos anteriores */
    }
    .sublista {
        display: none;
        position: relative; /* Usa posición relativa para alinear la sublista con respecto al elemento padre */
        background-color: #000;
        padding: 10px;
    }
    .sublista li {
        text-align: center; /* Centra el texto horizontalmente en las sublistas */
        margin: 5px 0;
    }
    .sublista a {
        color: #fff;
        text-decoration: none;
    }
    .sublista a:hover {
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }

    /* Estilos para dispositivos móviles */
    .article-secundario .imagenes img {
        max-width: 100%; /* Reduce el ancho de la imagen en pantallas más pequeñas */
    }
    .article-secundario {
        display: block; /* Cambia a bloque en la versión móvil */
    }

    .article-secundario .resumen-historia {
        width: 95%; /* Ocupa el 95% del ancho disponible */
        margin: 0 auto; /* Centra la tarjeta horizontalmente */
    }

    /* Estilo para el párrafo dentro de la tarjeta en la versión móvil */
    .article-secundario .resumen-historia p {
        font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos móviles */
        line-height: 1.4; /* Espaciado entre líneas ligeramente mayor para una mejor legibilidad */
    }



    .article-secundario .imagenes {
        margin: 20px;
        order: 2; /* Cambia el orden de la imagen para que esté debajo en la versión móvil */
        backgrund-color: transparent;
    }

.curiosidad {
        flex-direction: column; /* Cambia la dirección del flex container a columna */
        align-items: center; /* Centra verticalmente los elementos en la columna */
        border-radius: 20px;
    }

    .curiosidad img {
        margin-bottom: 15px;
        order: 2; /* Cambia el orden de la imagen para que aparezca debajo del párrafo */
    }

    .curiosidad p {
        text-align: center; /* Centra el texto horizontalmente */
    }

   .contact-form {
    width: 90%; /* Reducir el ancho del formulario para dispositivos móviles */
    margin: 0 auto; /* Centrar el formulario horizontalmente en dispositivos móviles */
    padding: 10px; /* Reducir el espacio interno del formulario para dispositivos móviles */
  }

  /* Ajustes para los elementos del formulario */
  .contact-form label,
  .contact-form input,
  .contact-form textarea,
  .contact-form input[type="submit"] {
    width: 100%; /* Ocupar todo el ancho de la tarjeta en dispositivos móviles */
    font-size: 16px; /* Reducir el tamaño de la fuente si es necesario */
    margin-bottom: 10px; /* Espaciado inferior entre elementos */
  }

  .personajess {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .personajess p {
        font-size: 20px;
        margin: 10px 20px;
    }

    .personajess img {
        max-width: 100%;
        height: auto;
        border: 2px solid white;
        order: 2; /* Cambia el orden de aparición para que la imagen esté después del párrafo */
    }
    .teoria-content {
        flex-direction: column; /* Cambia la dirección de la distribución a columna */
    }

    .teoria-card img {
        max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
    .intro-teorias img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

}
