/* Establecer el fondo negro como en Death Note */
body {
    background-color:#111111 /*#000*/; /* Establece el color de fondo en negro (#000) */
    color: #fff; /* Establece el color del texto en blanco (#fff) */
    font-family: Arial, sans-serif; /* Define la fuente del texto como Arial o fuentes sans-serif */
    
}
.logo{
	display: inline-block;
}

/* Estilo para el encabezado (header) */
header {
    display: flex; /* Utilizar Flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Alinear los elementos del header a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

/* Estilo para el logotipo (imagen del logo) */
.logo {
    margin: 0; /* Eliminar márgenes predeterminados */
}

/* Estilo para el menú de navegación (nav) */
.menu-nav {
    text-align: right; /* Alinea los elementos del menú a la derecha */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Cambiar el color del texto del enlace en el menú de navegación */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size:20px;
}

/* Estilo para el enlace en el menú de navegación al pasar el cursor (hover) */
nav ul li a:hover {
    color: red;
}

/* Estilo para el título principal (h1) */
h1 {
    text-align: center; /* Elimina el espacio de margen predeterminado del título principal */
}

/* Estilo para el contenedor de imagen de fondo */
.imagen-fondo {
    background-image: url('tu-imagen-de-fondo.jpg'); /* Establece la imagen de fondo utilizando la ruta proporcionada (reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen) */
    background-size: cover; /* Hace que la imagen de fondo cubra completamente el contenedor */
    background-position: center; /* Centra la imagen de fondo horizontalmente en el contenedor */
      text-align: center; /* Centra el contenido horizontalmente */
    width: 80%; /* Hace que el contenedor ocupe todo el ancho disponible */
    height: 1%; /* Hace que el contenedor ocupe todo el alto disponible */
    display: block; /* Convierte la imagen en un elemento en bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente usando márgenes automáticos */
}
.spoiler{
	text-align: left;
}

/* Estilo para la sección de información */
#informacion {
    padding: 20px; /* Agrega espacio interno de 20 píxeles alrededor de la sección de información */
    text-align: center; /* Centra el texto dentro de la sección de información */
}

/* Estilo para el artículo secundario */
.article-secundario {
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    justify-content: space-between;
}

/* Estilo para el resumen de la historia */
.resumen-historia {
    flex: 1; /* Ocupa el espacio restante en el contenedor */
    padding: 20px; /* Agrega espacio interno */
    text-align: justify; /* Justifica el texto para un aspecto más limpio */
    max-width: 50%; /* Limita el ancho máximo del texto al 50% del contenedor */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}
/* Estilo para las imágenes */
.imagenes {
    flex: 1; /* Ocupa el espacio restante en el contenedor */
    display: flex; /* Utiliza flexbox para alinear las imágenes verticalmente */
    flex-direction: column; /* Alinea las imágenes una debajo de la otra */
    align-items: center; /* Centra las imágenes horizontalmente */
}

.imagenes img {
   margin-top: 55px; /* Mueve las imágenes hacia abajo en 20 píxeles */
}

/* Estilo para las tarjetas de personajes */
.tarjetas-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta {
	color: white;
    width: calc(25% - 20px);
    margin: 10px;
    background-color:#A60606 /*#f0f0f0*/;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
}

.tarjeta img {
    max-width: 100%;
    height: auto;
}

.tarjeta h2 {
    font-size: 1.5em;
}

.tarjeta h3 {
    font-style: italic;
    color: #888;
}

.tarjeta p {
    font-size: 0.9em;
}

body h1{
	text-decoration: underline;
}

.curiosidad {
	background-color: #A60606;
    display: flex;
    margin: 20px;
}

.curiosidad img {
    width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 20px;
}

.curiosidad p {
    flex: 1;
}


.teoria-card img {
 display: block; /* Centra la imagen horizontalmente */
    width: 300px; /* Ajusta el ancho a tu preferencia */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    text-align: center; /* Centra el contenido dentro de las cajas */
}



.teoria-card h2 {
    margin: 0; /* Elimina el margen predeterminado que puede causar que el título no esté centrado verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Ajusta el color del texto a blanco para que destaque en el fondo rojo */
}

.intro-teorias img {
    display: block;
    margin: 0 auto;
}





.teoria-card {
    background-color: #A60606;
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    border-radius: 10px;
}


.teoria-content {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    padding: 10px; /* Agrega espacio interno para separar la imagen del texto */
}

.teoria-text {
    flex: 1;
    padding: 10px;
}

.teoria-card h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.teoria-card img {
    display: block;
    max-width: 100%;
    margin-right: 10px; /* Agrega un margen a la derecha de la imagen para separarla del texto */
     border: 2px solid white; /* Agrega un borde blanco de 2 píxeles alrededor de la imagen */
}

.teoria-card p {
    margin: 0; /* Elimina el margen predeterminado del párrafo para una apariencia más limpia */
}


.momento-card {
	background-color: #A60606;
    text-align: center; /* Centra el contenido en las tarjetas */
    margin: 20px auto; /* Centra las tarjetas horizontalmente y agrega espacio vertical */
    width: 80%; /* Ajusta el ancho de las tarjetas según tu preferencia */
    border-radius: 10px;
}

.momento-card img {
    display: block; /* Centra la imagen horizontalmente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 60%; /* Ajusta el ancho de las imágenes según tu preferencia */
    border: 2px solid white; /* Agrega un borde blanco de 2 píxeles alrededor de la imagen */
}

.contact-body {
  
  text-align: center;
}



.contact-form {
  background-color: #A60606; /* Fondo rojo para el formulario */
  display: inline-block;
  padding: 20px;
  text-align: left;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  width: 600px;

}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 1px;
}

input[type="submit"] {
  background-color: #AB1111; /* Fondo rojo para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

/*PERSONAJES*/
.personajes-img{
	width: 800px;
	height: auto;
    border: 2px solid white;

}
.personajes{
	display: flex;
}

.personajes p{
	margin-left:20px ;
	font-size: 20px;

}
